.pie10{
    width: 60%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar12{
    width: 60%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}